# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.env
.env*
.DS_Store

# DVC / data
/data/raw/
/data/processed/
/models/trained/
# Track DVC metadata and pointer files in Git
!.dvc
!.dvcignore
# Ignore only DVC cache/tmp
.dvc/cache/
.dvc/tmp/

# MLflow
mlruns/

# Notebooks
.ipynb_checkpoints/

# Logs
logs/
results/
